*{
    padding: 0;
    margin: 0;
    font-family: "Akaya Telivigala", monospace, sans-serif;
    font-size: 22px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
    text-align: center;
    background-color: #e3e3e3;
    padding: 10px 0;
}
h1{
    color: #262834;
    font-size: 28px;
    padding: 8px;
}
.container{
    width: 96%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #080808;
    padding: 10px 5px 5px 5px;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.container p{
    color: #e3e3e3;
    padding: 5px;
    text-align: left;
}
.container span{
    color: #e3e3e399;
    font-size: 16px;
    text-align: right;
    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Dancing Script", "Akaya Telivigala", monospace, sans-serif;
}
.btns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(60px, auto);
}
.btns button{
    padding: 8px;
    margin: 5px;
    background-color: #262834;
    color: #e3e3e3;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: 500;
}
.btns button.btn{
    background-color: #56cbdb;
    color: #262834;
    font-weight: bold;
}
.btns button:first-of-type{
    grid-column: 1/1;
    grid-row: 1;
}
.btns button:last-of-type{
    grid-column: 2/4;
    grid-row: 1;
}

.btns button:nth-child(4), .btns button:nth-child(5) {
    grid-column: span 1;
    padding: 8px;
    background-color: #25d366; 
  }
  
  .btns button:nth-child(5) {
    background-color: #00acee; 
  }
  
  
  /* Favorites.css */

.favorites-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .favorites-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .favorites-description {
    color: #666;
    font-size: 16px;
  }
  /* Home.css */

.loading-message {
    font-size: 19px;
    color: #676363;
    margin-top: 20px;
  }
  
  .quote-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .quote-content {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .quote-author {
    color: #555;
    font-size: 16px;
  }
  
  .button-container {
    margin-top: 15px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 9px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4b6a8c;
  }
  